@font-face {
  font-family: Abril Fatface;
  src: url(./fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

.navbar {
  position: absolute; /* 或 fixed，如果希望其固定在屏幕顶部 */
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* 透明背景 */
  z-index: 1000; /* 确保在其他内容之上 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* 确保无多余间距 */
  margin-top: 20px; /* 确保无多余间距 */
}

.nav-logo {
  max-width: 150px; /* Adjust the size of the image */
  height: auto;
  cursor: pointer;
}

.nav-logo:hover {
  opacity: 0.8; /* Optional hover effect */
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 创建6列，每列等宽 */
  grid-template-rows: repeat(4, 1fr); /* 创建4行，每行等高 */
  gap: 10px; /* 设置格子之间的间隔 */
  height: 100vh; /* 容器高度为视窗高度 */
}

.grid-item {
  background-color: dodgerblue; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
  position: relative;
}

.grid-item2 {
  position: relative;
  background-color: white; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Abril Fatface";
  color: black; /* 文字颜色 */
  font-size: 65px;
}

.grid-item3 {
  position: relative;
  background-color: #ff1ebc; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
}

.grid-item4 {
  position: relative;
  background-color: #ffde32; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
}

.content-normal,
.content-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s; /* 平滑过渡效果 */
}

.content-normal {
  color: white; /* 默认状态文字颜色 */
  opacity: 1; /* 默认完全不透明 */
  font-size: 20px;
}

.content-hover {
  color: black; /* 悬停状态文字颜色 */
  opacity: 0; /* 初始时不可见 */
  background-color: white; /* 确保背景与格子背景一致 */
  font-family: "Poppins";
  text-align: center;
}

.grid-item:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}

.grid-item3:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item3:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}

.grid-item4:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item4:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
    grid-template-rows: repeat(12, 1fr); /* 12 rows for mobile */
  }

  .grid-item,
  .grid-item2,
  .grid-item3,
  .grid-item4 {
    font-size: 30px; /* Adjust font size for mobile */
    overflow-y: scroll;
  }

  .content-normal,
  .content-hover {
    font-size: 14px; /* Adjust font size for mobile */
    overflow-y: scroll;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablet */
    grid-template-rows: repeat(8, 1fr); /* 8 rows for tablet */
  }
  .grid-item,
  .grid-item2,
  .grid-item3,
  .grid-item4 {
    font-size: 45px; /* Adjust font size for tablet */
    overflow-y: scroll;
  }

  .content-normal,
  .content-hover {
    font-size: 16px; /* Adjust font size for tablet */
    overflow-y: scroll;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
    grid-template-rows: repeat(6, 1fr); /* 6 rows for desktop */
  }

  .grid-item,
  .grid-item2,
  .grid-item3,
  .grid-item4 {
    font-size: 60px; /* Adjust font size for desktop */
    overflow-y: scroll;
  }

  .content-normal,
  .content-hover {
    font-size: 18px; /* Adjust font size for desktop */
    overflow-y: scroll;
  }
}

@media (min-width: 1800px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr); /* 6 columns for large desktop */
    grid-template-rows: repeat(4, 1fr); /* 4 rows for large desktop */
  }

  .grid-item2 {
    font-size: 75px; /* Adjust font size for large desktop */
    overflow-y: clip;
  }

  .content-normal,
  .content-hover {
    font-size: 20px; /* Adjust font size for large desktop */
    overflow-y: scroll;
  }
}
