@font-face {
  font-family: Abril Fatface;
  src: url(./fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Notable;
  src: url(./fonts/Notable/Notable-Regular.ttf);
}

body {
  margin: 0;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden; /* 仅隐藏横向溢出 */
  overflow-y: auto; /* 启用纵向滚动 */
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0;
  width: 100%;
  margin-top: 0; /* Remove margin-top */
  padding: 20px 0; /* Add padding if needed */
  z-index: 1000; /* 确保在页面最顶层 */
}

.nav-logo {
  max-width: 50px; /* Adjust the size of the image */
  height: auto;
  cursor: pointer;
}

.nav-logo:hover {
  opacity: 0.8; /* Optional hover effect */
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.title {
  font-size: 3rem;
  margin-top: 200px;
  font-family: "Abril Fatface", serif;
  position: relative;
}

.content {
  font-size: 1.2rem;
  text-align: left;
  font-family: "Poppins", serif;
  line-height: 1.8;
}

.item {
  position: absolute;
  top: -10%; /* 从屏幕顶部外开始掉落 */
  font-size: 24px;
  color: #fff;
  animation: falling 5s linear forwards; /* 调整掉落速度为5秒 */
  z-index: 0; /* 确保图片在文字下面 */
}

.item img {
  width: 80px; /* 限制图片宽度 */
  height: auto; /* 保持宽高比 */
}

@keyframes falling {
  0% {
    transform: translateY(-10%) scale(1);
    opacity: 1; /* 图片完全可见 */
  }
  80% {
    opacity: 0.5; /* 提前开始淡出 */
  }
  100% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0; /* 图片完全消失 */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    padding: 0 15px;
  }
  .content {
    font-size: 1rem;
    padding: 0 15px;
  }
}
/* Small Screen Responsive Design */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
    padding: 0 10px;
  }
  .content {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}
